<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataOne.BitUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataOne.BitUp.Properties.Settings>
            <setting name="BitbucketTeams" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>testTeam;apiKey123</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AzureStorageContainer" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="AzureAccountName" serializeAs="String">
                <value>blobtester</value>
            </setting>
            <setting name="AzureAccountKey" serializeAs="String">
                <value>12334353453==</value>
            </setting>
            <setting name="StoreInAzure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.sendgrid.net</value>
            </setting>
            <setting name="EmailAccount" serializeAs="String">
                <value>a@b.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="SendMailTo" serializeAs="String">
                <value>abc@dfg.de</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>BitUp@dfg.de</value>
            </setting>
        </DataOne.BitUp.Properties.Settings>
    </applicationSettings>
</configuration>